

<div class="p-2 rounded border-start col-6 mb-3 bg-info p-2 bg-opacity-10">
 <h6><%=@question%></h6>
<p>- You</p>
</div>


<div class="p-2 rounded border-start col-6 mb-3 bg-danger p-2 bg-opacity-10">
  <h6>
  <% if @question == "I am going to work"%>
    <%= "Great!"%>
  <% elsif @question[-1] == "?" %>
    <%= "Silly question, get dressed and go to work!" %>
  <% else %>
    <%= "I don't care, get dressed and go to work!" %>
  <% end %>
  </h6>
  <p>- Your coach</p>
</div>


<a><%= link_to "Ask a new question", ask_path, class: "btn btn-primary" %></a>
